# -------------------------------------										
# Includes
# -------------------------------------										
[include board.cfg]
[include stepper.cfg]
[include home.cfg]
[include move.cfg]
[include slide.cfg]
[include pan.cfg]
[include light.cfg]
[include parking.cfg]
[include frame.cfg]
[include retraction.cfg]
[include macros.cfg]


# -------------------------------------										
# Camera Slider Settings
# -------------------------------------										
[gcode_macro _UL_SLIDER]
variable_enabled: True
variable_min_pos: 30
variable_max_pos: 470
variable_home_pos: 250
variable_offset: 3.0
variable_speed: 2000
variable_accel: 2000
variable_home_speed: 100
gcode: 


# -------------------------------------										
# Camera Pan Settings
# -------------------------------------										
[gcode_macro _UL_PAN]
variable_enabled: True
variable_min_pos: -90
variable_max_pos: 90
variable_home_pos: 0
variable_offset: 7.5
variable_speed: 2500
variable_accel: 15000
variable_home_speed: 150
gcode: 


# -------------------------------------										
# Light Settings
# -------------------------------------
[gcode_macro _UL_LIGHT]
variable_enabled: True
variable_frame_enabled: False
variable_frame_start: {'r': 1.0, 'g': 1.0, 'b': 1.0}
variable_frame_end: {'r': 0.0, 'g': 0.0, 'b': 0.0}
variable_session_enabled: True
variable_session_start: {'r': 0.8, 'g': 0.5, 'b': 0.5}
variable_session_end: {'r': 0.0, 'g': 0.0, 'b': 0.0}
gcode: 


# -------------------------------------										
# Parking Settings
# -------------------------------------										
[gcode_macro _UL_PARKING]
variable_enabled: True
variable_y_offset: 20
variable_lift_speed: 20
variable_travel_speed: 500
variable_parking_time: 0.8
variable_lift_distance: 0.2
variable_animation_mode: '_UL_STATIC_BEHIND_OBJECT'                   
gcode: 


# -------------------------------------										
# Retraction Settings
# -------------------------------------										
[gcode_macro _UL_RETRACTION]
variable_enabled: False
variable_retract_speed: 15
variable_retract_length: 1.0
variable_extrude_speed: 15
variable_extrude_length: 1.0
gcode: 


# -------------------------------------										
# Session Settings
# -------------------------------------										
[gcode_macro _UL_SESSION]
variable_min_turn: 35
variable_max_turn: -35
variable_layer_count: 0
variable_current_layer: 0
variable_print_min_x : 0.0
variable_print_min_y : 0.0
variable_print_max_x : 0.0
variable_print_max_y : 0.0
variable_use_pan: True
variable_use_slider: True
variable_frame_finished: False
gcode: 


# -------------------------------------										
# Uberlapse Control
# -------------------------------------										
[gcode_macro START_UBERLAPSE]
variable_enabled: True
variable_parameter_LAYER_COUNT : 0
variable_parameter_PRINT_MIN_X : 0.0
variable_parameter_PRINT_MIN_Y : 0.0
variable_parameter_PRINT_MAX_X : 0.0
variable_parameter_PRINT_MAX_Y : 0.0
gcode:
    {% if enabled == True %}
        M118 START_UBERLAPSE
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=current_layer VALUE=0
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=layer_count VALUE={params.LAYER_COUNT|default(1)|int}
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=print_min_x VALUE={params.PRINT_MIN_X|default(200)|float}
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=print_min_y VALUE={params.PRINT_MIN_Y|default(200)|float}
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=print_max_x VALUE={params.PRINT_MAX_X|default(300)|float}
        SET_GCODE_VARIABLE MACRO=_UL_SESSION VARIABLE=print_max_y VALUE={params.PRINT_MAX_Y|default(300)|float}
        _UL_INIT_PRINT_HEAD
        _UL_LIGHT_SESSION_START
        HOME_CAMERA
    {% endif %}


[gcode_macro END_UBERLAPSE]
gcode:
    M118 END_UBERLAPSE
    _UL_TAKE_FRAME
    _UL_LIGHT_SESSION_END
    MOVE_CAMERA_CENTER


[gcode_macro BEFORE_LAYER_UBERLAPSE]
gcode:
    M118 BEFORE_LAYER_UBERLAPSE


[gcode_macro AFTER_LAYER_UBERLAPSE]
gcode:
    M118 AFTER_LAYER_UBERLAPSE
    _UL_TAKE_FRAME


[gcode_macro UBERLAPSE_ON]
gcode:
    M118 Uberlapse is ON!
    SET_GCODE_VARIABLE MACRO=START_UBERLAPSE VARIABLE=enabled VALUE=True


[gcode_macro UBERLAPSE_OFF]
gcode:
    M118 Uberlapse is OFF!
    SET_GCODE_VARIABLE MACRO=START_UBERLAPSE VARIABLE=enabled VALUE=False
